
#grid{
    display: flex;
    width: 864px;
    height: 864px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#button-container{
    display: flex;
    border: 0px;
    gap: 5px;
}
#color-button-container{
    display: flex;
    gap: 5px;
    border: 0px;
}
.size-button,#erase,.color-button{
    height: 25px;
}
div{
    border: 1px solid black;
    height: 52px;
    width: 52px;
}

