#grid{
    border: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
}

div{
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.hover{
    background-color: black;
}